@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('cof.avif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: black;
}

.content {
    padding: 50px; 
    background-color: #edede9;

}

.content-text {
    font-size: 18pt;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align:  center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin-left: 120px;
}

.card {
   border-radius: 10px;
   display: flex;
   justify-content: space-evenly;
   gap: 20px;
}

.card-header {
    align-items: center;
    margin-bottom: 10px;
}

.card-img {
    width: 500px;
    height: 600px;
    margin-right: 10px;
    border-radius: 10%;
  

}

.card-info {
 padding: 10px;
}

@media (max-width: 768px) {
    .container  {
      flex-direction: column;

    }
   
    }